<header>

    <nav class="navbar navbar-inverse navbar-thin bg-green">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-status" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-status">
                <ul class="nav navbar-nav">
                    <li>
                        <a><i class="fa fa-calendar"></i> @DateTime.Now.ToString("ddd, dd MMM yyy")</a>
                    </li>
                    <li>
                        <a><i class="fa fa-clock-o"></i> @DateTime.Now.ToString("h:mm tt")</a>
                    </li>
                    <li>
                        <a><i class="fa fa-globe"></i> @Html.RenderConfigurationValue("ENV") (@Environment.MachineName) @Html.RenderApplicationName()</a>
                    </li>
                    <li>
                        <a><i class="fa fa-database"></i> Development (@Html.RenderDataSource()) @Html.RenderDataName()</a>
                    </li>
                </ul>
                @*@Html.UserNavBarMenuList("right")*@
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
